
<div class="login-container">
    <div *ngIf="isLoading(); else loginForm" class="center animate-fade-in">
      <mat-spinner></mat-spinner>
    </div>

   <ng-template #loginForm>
  <mat-card class="login-card animate-fade-in">
    <div class="login-logo">
      <img src="https://images.squarespace-cdn.com/content/v1/5e6ef85c216efa61c69fab83/42992c12-eb87-4ea8-aa1e-9dadf7dbc1a7/CareMonitor-COL.png?format=1500w" alt="Care Monitor Logo" width="500" height="80" />
    </div>
    <h2 class="login-title">Login</h2>
    <form [formGroup]="formGroup" (ngSubmit)="submit()" class="login-form">

      <mat-form-field appearance="outline" class="login-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        @if (formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched) {
          <mat-error>Email is required</mat-error>
        }
        @if (formGroup.get('email')?.hasError('email') && formGroup.get('email')?.touched) {
          <mat-error>Please enter a valid email address</mat-error>
        }
      </mat-form-field>


      <mat-form-field appearance="outline" class="login-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched) {
          <mat-error>Password is required</mat-error>
        }
        @if (formGroup.get('password')?.hasError('minlength') && formGroup.get('password')?.touched) {
          <mat-error>Password must be at least 6 characters</mat-error>
        }
      </mat-form-field>

      <div class="login-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid" class="animate-fade-in">
          Login
        </button>
      </div>
    </form>
  </mat-card>
  </ng-template>
</div>